@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

::selection {
  background-color: #525252;
  color: #ffffff;
}

html {
  @apply bg-black text-neutral-50;
  min-width: 360px;
}
