@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

::selection {
  background-color: #525252;
  color: #ffffff;
}

html {
  @apply bg-stone-100 text-stone-900 dark:bg-stone-900 dark:text-stone-100;
  min-width: 360px;
  font-family: var(--font-mono);
}
